{% extends "base.html" %}

{% block content %}

<div class="grid  min-h-[500px] rounded-lg shadow bg-teal-500 sm:grid sm:grid-cols-2 p-2 gap-2">
  <div class="min-h-[50px] rounded-lg bg-black"></div>
  <div class="min-h-[50px] rounded-lg bg-black"></div>
  <div class="min-h-[50px] rounded-lg bg-black"></div>
  <div class="min-h-[50px] rounded-lg bg-black"></div>
</div>

<div class="min-h-[500px] rounded-lg shadow bg-orange-500">

</div>
<div class="min-h-[500px] rounded-lg shadow bg-red-500"></div>
<div class="min-h-[500px] rounded-lg shadow bg-blue-500 sm:col-span-3"></div>
{% endblock%}